{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block style %}
<style>

</style>
{% endblock %}

{% block content %}
<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="{% static '/home_page/assets/img/avataaars.svg' %}" alt="..." />
        
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Welcome! I'm Nick.</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0"> Coder - Software Engeneer - Geek </p>
    </div>
</header>
<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <a href="https://github.com/n1ckollas"
                    target="_blank" 
                    rel="noopener noreferrer">
                    <div class="portfolio-item mx-auto">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                                <p>Early work</p>
                            </div>
                        </div>
                        <img class="img-fluid early-work" src="{% static '/home_page/assets/img/github2.png' %}" alt="GitHub Logo" />
                    </div>
                </a>
            </div>
            <!-- Portfolio Item 2-->
            <div class="col-md-6 col-lg-4 mb-5">
                <a href="https://www.linkedin.com/in/n1cko/" 
                    target="_blank" 
                    rel="noopener noreferrer">
                    <div class="portfolio-item mx-auto">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                                <p>Career</p>
                            </div>
                        </div>
                        <div class="career-wrapper">
                            <img class="img-fluid career" src="{% static '/home_page/assets/img/LinkedIn.png' %}" alt="LinkedIn Logo" />
                        </div>
                    </div>
                </a>
            </div>
            <!-- Portfolio Item 3-->
            <div class="col-md-6 col-lg-4 mb-5">
                <a href="https://github.com/nick-rbzk" target="_blank" rel="noopener noreferrer">
                    <div class="portfolio-item mx-auto">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                                <p>Late Work</p>
                            </div>
                        </div>
                        <img class="img-fluid late-work" src="{% static '/home_page/assets/img/github2.png' %}" alt="GitHub Logo" />
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto">
                <p class="lead">
                    When I was 18 I got my first pc. 
                    It was windows 98 and I exploded at first sight of it. 
                    I wish I never installed counter-strike on it because it completely messed with my then whispering passion to follow directory to directory in MS-DOS. I liked it. 
                </p>
            </div>
            <div class="col-lg-4 me-auto">
                <p class="lead">
                    I can still recall it to this day. Time passed, and even being older I still can’t see myself being happy without writing logic, anticipating what it does and having it do exactly what's expected. 
                    When one writes code it’s not the process of writing that excites. It’s finding a solution of a challenge and having a clear vision of how a particular solution is put together and implemented inside a machine. 
                    It’s the most amazing feeling I’ve experienced so far. And I can’t get enough of it!
                </p>
            </div>
        </div>
        <!-- About Section Button-->
    </div>
</section>
{% endblock %}


{% block jq %}
<script  defer src="{% static 'home_page/js/scripts.min.js' %}"></script>
{% endblock %}