{% extends "base.html" %}
{% load static %}
{% load duration %}
{% load job_duration %}
{% load income %}
{% load job_income %}
{% load date_format %}


{% block style %}
<link type="text/css" rel="stylesheet" href="{% static '/home_page/jq-ui/jquery-ui.css' %}">
<style>
    .custom-button {
        width: 100%;
    }
    .flex-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items:start;
    }
    .flex-container .custom-card{
            margin: 10px 5px;
    }
    .bold-header{
        font-weight: bold;
    }
</style>
{% endblock %}

{% block content %}
<section class="page-section portfolio">
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-1 col-sm-1 col-md-2 col-lg-3 col-xl-4"></div>
            <div class="col-10 col-sm-10 col-md-8 col-lg-6 col-xl-4">
                <h2 class="page-section-heading text-center text-uppercase text-secondary mt-5 mb-2">
                    Add A Job
                </h2>
                <form action="{% url 'jobs_page' %}" method="post">
                        {% csrf_token %}
                    <div class="row">
                        <div class="col mt-2 mb-2">
                            <div class="container">
                                {{ form.job_start_date }}
                            </div>
                        </div>
                        <div class="col mt-2 mb-2">
                            <div class="container">
                                {{ form.job_start_time}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mt-2 mb-2">
                            <div class="container">
                                {{ form.job_end_date}}
                            </div>
                        </div>
                        <div class="col mt-2 mb-2">
                            <div class="container">
                                {{ form.job_end_time}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container">
                            <div class="form-group">
                                {{ form.confirmation }}
                            </div>
                            <div class="form-group">
                                    {{ form.notes }}
                            </div>
                            <div class="form-group">
                                <input class="btn btn-success custom-button" 
                                type="submit" value="Submit">
                            </div>
                        </div> 
                    </div>
                </form>
            </div>
            <div class="col-1 col-sm-1 col-md-2 col-lg-3 col-xl-4"></div>
        </div>
    </div>
</section>
<section class="page-section portfolio">
    <div class="container-fluid">
        <hr>
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-5">
            Job Records
        </h2>
        <div class="flex-container mt-5">
                {% for w in weeks %}
                <div class="card custom-card">
                    <div class="card-header">
                        <h6 class="bold-header">
                            Week: {{ w.week_start|date_format }} -> {{w.week_end|date_format }}
                        </h6>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for j in w.parkjob_set.all %}
                        <li class="list-group-item">
                            <span class="badge bg-warning text-dark">{{ forloop.counter }}</span> | 
                            {{ j.job_start|date_format }} -> {{j.job_end|date_format}}
                            <span class="badge text-bg-bs-og-primary">CONF# {{ j.confirmation}}</span>
                            <span class="badge text-bg-primary">{{ j|job_duration }}</span>
                            =
                            <span class="badge text-bg-bs-og-success ">{{ j|job_income }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="card-footer">
                        <h6 class="bold-header">Total:
                            <span class="badge text-bg-info">
                                {{ w.jobs_time|duration }}
                            </span>
                            <span class="badge text-bg-bs-og-success">
                                {{ w.jobs_time|income }}
                            </span>
                        </h6>
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>
</section>
{% endblock %}


{% block jq %}
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="{% static '/home_page/jq-ui/jquery-ui.min.js' %}"></script>
    <script defer>
        function formatTime(val){
            if(val.length >= 5 && val.indexOf(":") > 0){
                return val 
            }
            var firstFour = val.substring(0, 4).split("")
            var hours = null;
            var mins = null;
            if(firstFour.length >= 4){
                hours = firstFour[0] + firstFour[1]
                mins = firstFour[2]+ firstFour[3]
            }
            if(hours && mins){
                return hours + ":" + mins;
            }
            return null;
        }
        $('#id_job_start_time').on("blur", function(value){
            $(this).val(formatTime($(this).val()))
        });
        $('#id_job_end_time').on("blur", function(value){
            $(this).val(formatTime($(this).val()))
        });
        $("#id_job_start_date").datepicker();
        $("#id_job_end_date").datepicker();
    </script>
{% endblock %}